<div class="home-container">
    <div class="jumbotron center">
        <div class="row ">
            <div class="col-xl-12 col-lg-10 home-text">
                <h1 class="home-text-big">InterDocsCli</h1>
                <p class="lead center">Interface de Documentos Clínicos
                </p>
            </div>
        </div>
    </div>
</div>
<div _ngcontent-wdl-c145="" class="card card-default">
    <div _ngcontent-wdl-c145="" class="card-header">Configuración</div>
    <div _ngcontent-wdl-c145="" class="card-body">
        <fieldset _ngcontent-msj-c145="">
            <legend _ngcontent-msj-c145=""> Ruta lectura de archivos de Entidades prestadoras
            </legend>
            <div _ngcontent-msj-c145="" class="form-group row"><label _ngcontent-msj-c145=""
                    class="col-md-2 col-form-label">Positiva ARL</label>
                <div _ngcontent-msj-c145="" class="col-md-10"><input _ngcontent-msj-c145=""
                        type="text" value="C:\provider\entidad\Positiva ARL" class="form-control form-control-rounded"></div>
            </div>
            <br>
            <div _ngcontent-msj-c145="" class="form-group row"><label _ngcontent-msj-c145=""
                    class="col-md-2 col-form-label">Comeva EPS</label>
                <div _ngcontent-msj-c145="" class="col-md-10"><input _ngcontent-msj-c145=""
                        type="text" value="C:\provider\entidad\Comeva EPS"  class="form-control form-control-rounded"></div>
            </div>
            <br>
            <div _ngcontent-msj-c145="" class="form-group row"><label _ngcontent-msj-c145=""
                    class="col-md-2 col-form-label">Sura EPS - ARL</label>
                <div _ngcontent-msj-c145="" class="col-md-10"><input _ngcontent-msj-c145=""
                        type="text"  value="C:\provider\entidad\Sura EPS - ARL - SOAT" class="form-control form-control-rounded"></div>
            </div>
            <br>
            <div _ngcontent-msj-c145="" class="form-group row"><label _ngcontent-msj-c145=""
                    class="col-md-2 col-form-label">AXA COLPATRIA ARL</label>
                <div _ngcontent-msj-c145="" class="col-md-10"><input _ngcontent-msj-c145=""
                        type="text" value="C:\provider\entidad\AXA COLPATRIA ARL" class="form-control form-control-rounded"></div>
            </div>
            <br>
            <div _ngcontent-msj-c145="" class="form-group row"><label _ngcontent-msj-c145=""
                    class="col-md-2 col-form-label">EQUIDAD SOAT</label>
                <div _ngcontent-msj-c145="" class="col-md-10"><input _ngcontent-msj-c145=""
                        type="text" value="C:\provider\entidad\EQUIDAD SOAT" class="form-control form-control-rounded"></div>
            </div>
<br>
            <div _ngcontent-msj-c145="" class="form-group row"><label _ngcontent-msj-c145=""
                    class="col-md-2 col-form-label">MAFRE ARL - SOAT</label>
                <div _ngcontent-msj-c145="" class="col-md-10"><input _ngcontent-msj-c145=""
                        type="text" value="C:\provider\entidad\MAFRE ARL - SOAT" class="form-control form-control-rounded"></div>
            </div>

        </fieldset>

        <fieldset _ngcontent-msj-c145="">
            <legend _ngcontent-msj-c145=""> Ruta lectura de almacenamiento de Logs
            </legend>
            <div _ngcontent-msj-c145="" class="form-group row"><label _ngcontent-msj-c145=""
                    class="col-md-2 col-form-label">Logs</label>
                <div _ngcontent-msj-c145="" class="col-md-10"><input _ngcontent-msj-c145=""
                        type="text" value="C:\Logs\entidad\Positiva ARL" class="form-control form-control-rounded"></div>
            </div>
            <br>
        </fieldset>

        <fieldset _ngcontent-msj-c145="">
            <legend _ngcontent-msj-c145=""> Ruta de archivos homologados
            </legend>
            <div _ngcontent-msj-c145="" class="form-group row"><label _ngcontent-msj-c145=""
                    class="col-md-2 col-form-label">Logs</label>
                <div _ngcontent-msj-c145="" class="col-md-10"><input _ngcontent-msj-c145=""
                        type="text" value="C:\Resultado\Homologados" class="form-control form-control-rounded"></div>
            </div>
            <br>
            
        </fieldset>


    </div>
</div>










<div class="home-container">

   

</div>