<div class="home-container">
    <div class="jumbotron center">
        <div class="row ">
            <div class="col-xl-2 col-lg-4">
                <div class="text-center">
                    <img alt="Angular" class="img-fluid home-logo" src="assets/img/LogoMed.jpg" />
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 home-text">
                <h1 class="home-text-big">InterDocsCli</h1>
                <p class="lead">Interface de Documentos  <strong>Clínicos</strong>
                </p>
            </div>
        </div>
    </div>
    <div class="row center">
        <div class="col-lg-12">
            <div class="card b">
                <div class="card-header center">
                    <h3   style="color:rgb(240,90,3)">Entidad Prestadora</h3>
                </div>
                <div class="card-body center">
                    <fieldset _ngcontent-uep-c147="">
                        <div _ngcontent-uep-c147="" class="form-group row center">
                            <label _ngcontent-uep-c147="" class="col-lg-4 col-form-label text-lg-right">Seleccione</label>
                            <div _ngcontent-uep-c147="" class="col-lg-12">
                                <select _ngcontent-uep-c147="" formcontrolname="select" class="form-control ng-dirty ng-valid ng-touched center">
                                    <option _ngcontent-uep-c147="" value="">Seleccione</option>
                                    <option _ngcontent-uep-c147="" value="1">Positiva ARL</option>
                                    <option _ngcontent-uep-c147="" value="2">Comeva EPS</option>
                                    <option _ngcontent-uep-c147="" value="3">Sura EPS - ARL - SOAT</option>
                                    <option _ngcontent-uep-c147="" value="4">AXA COLPATRIA ARL</option>
                                    <option _ngcontent-uep-c147="" value="4">EQUIDAD SOAT</option>
                                    <option _ngcontent-uep-c147="" value="4">MAFRE ARL - SOAT</option>
                                </select><!----></div>
                                    <div _ngcontent-uep-c147="" class="col-lg-4">
                                        <small _ngcontent-uep-c147="" class="text-mute">
    
                                        </small>
                                    </div>
                        </div>
                    </fieldset>
                </div>
                <div class="center">
                    <p><a class="btn btn-primary  center" target="_blank">Cargar</a></p>
                </div>
            </div>
        </div>

</div>
