<div class="item user-block" *ngIf="userBlockIsVisible()">
    <!-- User picture-->
    <div class="user-block-picture">
        <div class="user-block-status">
            <img class="img-thumbnail rounded-circle" src="assets/img/LogoMed.jpg" />
            <!-- <img alt="Angular" class="img-fluid home-logo" src="assets/img/LogoMed.jpg" /> -->
            <div class="circle bg-success circle-lg"></div>
        </div>
    </div>
    <!-- Name and Job-->
    <div class="user-block-info">
        <span class="user-block-name">{{ 'sidebar.Bienvenido' | translate }} Mederi</span>
        <span class="user-block-role">Usuario radicación</span>
    </div>
</div>
