
    
    <!-- <div class="col-lg-4">
        <div class="card b">
            <div class="card-header">
                <h3>Router</h3>
            </div>
            <div class="card-body">
                Powerful and modern routes definitions. Easily declare routes and nested routes with components association.
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card b">
            <div class="card-header">
                <h3>Generators</h3>
            </div>
            <div class="card-body">
                Angular-CLI tool provides generators to create components, services, directives and pipe from the command line.
            </div>
        </div>
    </div> -->
</div>