<div _ngcontent-qgx-c153="" class="content-heading">Radicado</div>

<div class="home-container">
  
    <div class="row center">
        <div class="col-lg-12">
            <div class="card b">
                <div class="card-header center">
                    <p class="lead">Entidad Prestadora</p>
                </div>
                <div class="card-header center">
                    <h3 style="color:rgb(240,90,3)">Comeva EPS</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card b">
                <div _ngcontent-jgt-c215="" class="card card-default">
                    <div class="card-header center">
                        <h3 style="color:rgb(240,90,3)">Archivos Trasnformados</h3>
                    </div>
                    <div _ngcontent-jgt-c215="" class="card-body">
                        <div _ngcontent-jgt-c215="" class="table-responsive">
                            <table _ngcontent-jgt-c215="" class="table table-striped table-bordered table-hover">
                                <thead _ngcontent-jgt-c215="">
                                    <tr _ngcontent-jgt-c215="">
                                        <th _ngcontent-jgt-c215="">Nombre Archivo</th>
                                    </tr>
                                </thead>
                                <tbody _ngcontent-jgt-c215="">
                                    <tr _ngcontent-jgt-c215="">
                                        <td _ngcontent-jgt-c215="">HISTORIA CLINICA</td>
                                    </tr>
                                    <tr _ngcontent-jgt-c215="">
                                        <td _ngcontent-jgt-c215="">9876543.pdf
                                        </td>
                                    </tr>
                                    <tr _ngcontent-jgt-c215="">
                                        <td _ngcontent-jgt-c215="">98756512.pdf
                                        </td>
                                    </tr>
                                    <tr _ngcontent-jgt-c215="">
                                        <td _ngcontent-jgt-c215="">9853286.pdf
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card b">
                <div _ngcontent-jgt-c215="" class="card card-default">
                    <div class="card-header center">
                        <h3 style="color:rgb(240,90,3)">Estructura Carpetas</h3>
                    </div>
                    <div _ngcontent-jgt-c215="" class="card-body">
                        <div _ngcontent-jgt-c215="" class="table-responsive">
                            <table _ngcontent-jgt-c215="" class="table table-striped table-bordered table-hover">
                                <thead _ngcontent-jgt-c215="">
                                    <tr _ngcontent-jgt-c215="">
                                        <th _ngcontent-jgt-c215="">Nombre carpeta</th>
                                    </tr>
                                </thead>
                                <tbody _ngcontent-jgt-c215="">
                                    <tr _ngcontent-jgt-c215="">
                                        <td _ngcontent-jgt-c215="">Anexo
                                        </td>
                                    </tr>
                                    <tr _ngcontent-jgt-c215="">
                                        <td _ngcontent-jgt-c215="">Autenticación de Urgencias
                                        </td>
                                    </tr>
                                    <tr _ngcontent-jgt-c215="">
                                        <td _ngcontent-jgt-c215="">Autorización
                                        </td>
                                    </tr>
                                    <tr _ngcontent-jgt-c215="">
                                        <td _ngcontent-jgt-c215="">Detalle
                                        </td>
                                    </tr>
                                    <tr _ngcontent-jgt-c215="">
                                        <td _ngcontent-jgt-c215="">Documento de identificación
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row center">
        <div class="col-lg-12">
            <div class="card b">
                <p></p>
                <div class="center">
                    <p>
                        <a class="btn btn-primary  center" style="background:rgb(240,90,3)" target="_blank">Envíar a
                            prestador</a>


                    </p>

                </div>

            </div>
        </div>
    </div>